<p>
	<!--
<a href="mailto:{{ site.footer-links.email }}" target="_blank">Contact</a> <span class="u-separate"></span> /
-->
<a href="https://github.com/{{ site.footer-links.github }}" target="_blank">Github</a> <span class="u-separate"></span> /
<a href="https://medium.com/@{{ site.footer-links.medium }}" target="_blank">Medium</a> <span class="u-separate"></span> /
<a href="https://twitter.com/{{site.twitter_username }}" target="_blank">Twitter</a>  /
<a href="https://twitter.com/{{site.linkedin }}" target="_blank">Linkedin</a>  
</p>